<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="try using EPOCLogger logging"
            icon="icons/bookmark_obj.gif"
            id="com.eclipse.jdt.ui.templates.try"
            name="try">
         <pattern>
            try {
	${line_selection}${cursor}
} catch (${Exception} ${exception_variable_name}) {
	// ${todo}: handle exception
	${:import(com.epocrates.epocutil.EPOCLogger)}EPOCLogger.e(${exception_variable_name});
}</pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="prints to the logcat using EpocLogger"
            icon="icons/bookmark_obj.gif"
            id="com.eclipse.jdt.ui.templates.sysout"
            name="sysout">
         <pattern>
            ${:import(com.epocrates.epocutil.EPOCLogger)}EPOCLogger.d(${word_selection}${});${cursor}
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-statements"
            description="catch using EPOCLogger logging"
            icon="icons/bookmark_obj.gif"
            id="com.eclipse.jdt.ui.templates.catch"
            name="catch">
         <pattern>
            catch (${Exception} ${exception_variable_name}) {
	// ${todo}: handle exception
	${:import(com.epocrates.epocutil.EPOCLogger)}EPOCLogger.e(${exception_variable_name});
}
         </pattern>
      </template>
   </extension>
   <extension
         id="com.andromeda.spock.ProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="com.andromeda.c3po.proposals.CompletionProposal"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>

</plugin>
